[Desktop Entry]
Type=Application
Name=Subtitle Downloader
Exec=subtitle-downloader %f
MimeType=video/mp4;video/x-matroska;video/x-msvideo;video/x-flv;video/webm;video/quicktime;video/x-ms-wmv;
Icon=subtitle-downloader
Categories=Utility;

